*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Nunito', sans-serif; */
     font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
/* font-family: 'Poppins', sans-serif; */
}
p{
    font-family: 'Nunito', sans-serif;
}
.main-container{
    width: 100%;
    height: 1800px;
}

/* Navbar */
.navbar{
    width: 100%;
    height: auto;
    padding-inline: 20px;
    margin-top: 10px;
    font-size: 18px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar ul{
    width: 100%;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.navbar img{
    width: 30px;
    border-radius: 5px;
}
.navbar li:nth-child(4){
    margin-right: 600px;
}

/* Nav2 */
.nav2{
    width: 100%;
    height: auto;
    padding-inline: 30px;
    margin-top: 10px;
    padding-block: 10px;
    position: sticky;
    top: 0;
    background-color: rgb(244, 246, 248);
}
.nav2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
}
.nav2 li:nth-child(2){
    margin-left: 1000px;
}
.nav2 li:first-child{
    font-size: 25px;
}

/* Part1 */
.part1{
    width: 100%;
    height: 600px;
    border: 1px solid rebeccapurple;
    background-image: url('./images/d58d209378ce4d0ef38e12a25303795a.jpg');
    background-size: cover;
    background-position: center;
}
.text1{
    width: 50%;
    height: auto;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    margin-top: 230px;
    margin-left: 250px;
}
.text1 h1{
    font-size: 40px;
}
.text1 h2{
    font-size: 25px;
    margin-top: 10px;
}
.text1 img{
    width: 110px;
    margin-top: 100px;
}
.text1 p{
    font-size: 12px;
    margin-top: 20px;
}

/* part2 */
.part2{
    width: 100%;
    height: auto;
    padding-block: 100px;
    background-color: rgb(251, 244, 244);
    display: flex;
    align-items: center;
    justify-content: center;
}
.grids{
    width: auto;
    height: auto;
    background-color: rgb(251, 244, 244);
    display: grid;
    gap: 20px;
    grid-template-columns: 350px 250px 250px;
    grid-template-rows: auto auto auto auto;
}
.box{
    width: auto;
    height: auto;
    color: white;
    background-size: cover;
    background-position: center;
    padding: 50px;
}
.box:first-child{
    grid-row: 1/4;
    grid-column: 1/2;
    background-image: url('./images/newImg02-1.jpg');
}
.box:nth-child(2){
    grid-row: 1/3;
    grid-column: 2/3;
    background-image: url('./images/ml01.png');
    /* padding-block: 20px; */
    /* height: 250px; */
}
/* .box:nth-child(2) p{

} */
.box:nth-child(3){
    grid-row: 1/2;
    grid-column: 3/4;
    background-image: url('./images/ksp5.png');
}
.box:nth-child(4){
    grid-row: 3/5;
    grid-column: 3/4;
    background-image: url('./images/ksp6.png');
}
.box:nth-child(5){
    grid-row: 4/5;
    grid-column: 1/3;
    background-image: url('./images/ksp4.png');
}
.box:nth-child(6){
    grid-row: 3/4;
    grid-column: 2/3;
    background-image: url('./images/ksp3.png');
}

/* Part3 */
 .part3{
    width: 100%;
    height: auto;
    background-position: center;
    background-size: cover;
    background: rgb(14,217,230);
    background: linear-gradient(90deg, rgba(14,217,230,1) 0%, rgba(51,129,244,1) 67%);
    text-align: center;
    color: rgb(239, 225, 225);
    padding: 100px;
    padding-bottom: 200px;
 }  
 .part3 img{
    width: 600px;
    margin-top: 50px;
 }
.part3 h1{
    font-size: 35px;
}
.part3 p{
    margin-top: 20px;
}

/* Part4 */
.part4{
    width: 100%;
    height: auto;
    background-image: url('./images/ksp6.png');
    background-position: center;
    background-size: cover;
    color: rgb(245, 225, 225);
    text-align: center;
    padding: 100px;
    padding-top: 500px;
    /* for dual-5g */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    position: relative;
}
.part4 h1{
    font-size: 40px;
    font-weight: 600;
}
.part4 p{
    margin-top: 20px;
    font-weight: 500;
    font-size: 20px;
}

/* Dual 5G */
.dual-5G{
    width: 70%;
    height: 480px;
    color: black;
    background-image: url('./images/newImg04.jpg');
    background-position: center;
    background-size: cover;
    text-align: start;
    padding: 80px;

    /* for position */
    position: relative;
    bottom: 850px;
    /* display: none; */
}
.dual-5G h1{
    font-size: 40px;
    margin-top: 50px;
}
.dual-5G p{
    font-size: 15px;
    font-family: 'Nunito', sans-serif;
}

/* Blue-box */
.blue-box{
    width: 80%;
    height: auto;
    padding: 50px;
    background-image: url('./images/ksp5.png');
    background-position: center;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;

    /* for position */
    position: relative;
    top: 180px;

}
.blue-box hr{
    width: 2px;
    height: 40px;
    background-color: rgb(147, 198, 240);
    border: none;
}

.left1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left1 p{
    margin-top: 0px;
}

.right1{
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.right1 p{
    margin-top: 0px;
}

/* part5 */
.part5{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-block: 100px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.part5 img{
    width: 70%;
    margin-top: 30px;
}


/* TEXT2 */
.text2{
    width: 70%;
    height: auto;
    margin-top: 100px;
    margin-left: 200px;
}
.text2 p{
    margin-top: 20px;
}



/* hertz */
.hertz{
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-right: 200px;
    margin-top: 30px;
}
.hertz ul{
    list-style: none;
}
.box1{
    width: auto;
    height: auto;
}
.box1 img{
    width: 45px;
    height: 45px;
    margin-bottom: 20px;
}
.box1 ul li:first-child{
    font-size: 20px;
    font-weight: 600;
}
.box1 ul li:nth-child(2){
    font-size: 12px;
    color: rgb(104, 99, 99);
}

.masterpiece{
    width: 100%;
    height: auto;
    padding: 50px;
    color: white;
    background-image: url('./images/ksp5.png');
    background-position: center;
    background-size: cover;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    /* for lens position */
    position: relative;
}

.masterpiece h2{
    font-size: 40px;
    text-align: center;
    margin-top: 70px;
}
.masterpiece h1{
    font-size: 300px;
    text-align: center;
    margin-top: 20px;
}

.lens{
    width: 70%;
    height: auto;
    padding: 30px;
    background-position: center;
    background-size: cover;
    background-color: rgb(61, 56, 56);

    display: flex;
    align-items: center;
    justify-content: space-around;

    /* for position */
    position: relative;
    top: 90px;
}
.lens img{
    width: 80px;
}
.lens hr{
    width: 2px;
    height: 70px;
    border: 2px;
    background-color: rgb(95, 80, 80);
}
.left2{
    width: 35%;
    height: auto;
    display: flex;
}
.left2 span h3{
    font-size: 30px;
}
.left2 img{
    width: 70px;
}
.left2 hr{
    width: 125px;
    height: 2.5px;
    border: 1px;
    background-color: rgb(93, 170, 172);
}
.left2 span{
    margin-left: 40px;
    margin-top: 33px;
}
.left2 span em{
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
}

.right2{
    width: 35%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}
.right2 img{
    width: 70px;
}
.right2 span h3{
    font-size: 30px;
}
.right2 hr{
    width: 110px;
    height: 2px;
    border: 1px;
    background-color: rgb(93, 170, 172);
}
.right2 span{
    margin-left: 40px;
}
.right2 span em{
    font-size: 18px;
    font-weight: 100;
    font-style: normal;
}

/* Part6 */
.part6{
    width: 100%;
    height: auto;
    padding-top: 100px;
    padding-inline: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/* Text3 */
.text3{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.text3 h1{
    font-size: 38px;
    text-align: start;
    margin-top: 100px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

/* Boy1 */
.boy1{
    width: 80%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 80px;
    margin-top: 60px;
}
.left3{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left3 img{
    width: 550px;
    height: 550px;
}
.right3{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right3 p{
    font-size: 14px;
    color: rgb(85, 81, 81);
}

.text3 img{
    width: 75%;
    margin-top: 50px;
}
.text3 p{
    text-align: start;
    margin-right: 380px;
    margin-top: 20px;
}

/* Boy2 */
.boy2{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 80px;
    margin-top: 100px;
}
.left4{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.left4 h1{
    font-size: 38px;
}
.left4 p{
    font-size: 16px;
    margin-top: 10px;
    margin-right: 45px;
    color: rgb(85, 81, 81);
}
.right4{
    width: 40%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.right4 img{
    width: 550px;
    height: 550px;
}

/* Movie-Frame */
.movie-frame{
    width: 60%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 100px;
}
.movie-frame h1{
    font-size: 35px;
}

/* List */
.list{
    width: 80%;
    height: auto;
    margin-top: 50px;
    margin-left: 170px;
}
.list ul{
    width: 80%;
    list-style: none;
    display: flex;
    align-items:center;
    justify-content: space-around;
}
.list span{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.list ul li{
    font-size: 20px;
    font-weight: 500;
}
.list ul li img{
    width: 35px;
    margin-top: 10px;
}

.list img{
    width: 85%;
    margin-top: 50px;
}

/* Charging */
.charging{
    width: 100%;
    height: auto;
    padding: 100px;
    padding-inline-start: 200px;
    background-image: url(./images/ksp5.png);
    background-position: center;
    background-size: cover;
    color: white;
    position: relative;
}
.charging h1{
    font-size: 35px;
}
.charging p{
    font-size: 15px;
    margin-top: 20px;
}
.charging span{
    width: 45%;
    display: flex;
    margin-top: 20px;
}
.charging span span{
    display: flex;
    flex-direction: column;
}
.charging span span h2{
    font-size: 30px;
}
.charging span span p{
    margin-top: 0px;
}

.lens2{
    width: 100%;
    height: auto;
    padding: 50px;
    background-color: rgb(48, 46, 46);
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: white;

    /* For Position */
    position: relative;
    top: 150px;
}

.one{
    width: 30%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.one span{
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.circle{
    width: 95px;
    height: 95px;
    border: 3px solid white;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.circle i{
    font-size: 40px;
    color: white;
}
.lens2 h2{
    font-size: 26px;
}
.lens2 p{
    font-size: 14px;
    margin-top: 10px;
    margin-left: 2px;
}
.lens2 hr{
    width: 120px;
    border: 1px solid rgb(82, 173, 238);
    margin-top: 12px;
}

/* Unique */
.unique{
    width: 100%;
    height: auto;
    padding-block: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left5{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left5 img{
    width: 800px;
}
.right5{
    width: 50%;
    height: auto;
    padding-inline: 100px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
}
.right5 h1{
    font-size: 40px;
}
.right5 p{
    font-size: 15px;
    margin-top: 20px;
    color: rgb(94, 85, 85);
}

/* Colour */
.colour{
    width: 100%;
    height: auto;
    padding-block: 100px;
    display: flex;
    position: relative;
}
.left6{
    width: 80%;
    height: auto;
    padding-inline-start: 250px;
    display: flex;
    align-items: start;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(228, 223, 223);
}
.left6 h1{
    font-size: 40px;
}
.left6 p{
    font-size: 15px;
    color: rgb(78, 75, 75);
    margin-top: 30px;
}
.left6 h4{
    font-size: 22px;
    margin-top: 150px;
}
.right6{
    width: 25%;
    height: auto;
    position: relative;
    bottom: 150px;
    right: 300px;
}
.right6 img{
    width: 480px;
}

/* Feature */
.feature{
    width: 100%;
    height: auto;
    padding: 80px;
    background-image: url(./images/ksp5.png);
    background-position: center;
    background-size: cover;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.feature h1{
    font-size: 40px;
    text-align: center;
}
.icons{
    width: 80%;
    height: auto;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2{
    width: 25%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box2 ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.box2 ul img{
    width: 35px;
}
.box2 ul li{
    font-size: 12px;
    margin-top: 30px;
}

/* Specs */
.specs{
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    color: white;
}
.left7{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}
.left7 h1{
    font-size: 40px;
}

.right7{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Notes */
.notes{
    width: 100%;
    height: auto;
    padding-block: 50px;
    padding-inline: 300px;
    padding-block-end: 50px;
    color: gray;
}
.notes ul{
    list-style: none;
    font-size: 11px;
}
.notes ul li{
    margin-top: 3px;
}
.notes ul li:first-child{
    font-size: 13px;
    color: rgb(96, 90, 90);
}

/* Footer */
.footer{
    width: 100%;
    height: auto;
    background-color: black;
    color: white;
    padding-block: 50px;
    padding-inline: 150px;
}
.footer ul li{
    list-style: none;
    margin-top: 12px;
}
.list1{
    width: 100%;
    height: auto;
    display: flex;
}
.footer hr{
    margin-top: 50px;
    border: 1px solid gray;
    background-color: gray;
}
b{
    font-size: 15px;
}
a{
    text-decoration: none;
    color: rgb(177, 170, 170);
    font-size: 13px;
}
.support{
    width: 30%;
    height: auto;
}
.about{
    width: 30%;
    height: auto;
}
.project{
    width: 30%;
    height: auto;
}
.blank{
    width: 10%;
    height: auto;
}
.info{
    width: 40%;
    height: auto;
}
.info h3{
    font-size: 13px;
    margin-top: 10px;
}
.info input{
    border: 1px solid gray;
    border-radius: 10px;
    height: 35px;
    width: 250px;
    padding: 10px;
    font-size: 12px;
    margin-top: 20px;
    background-color: transparent;
}

/* Bottom */
.bottom{
    height: auto;
    width: 100%;
    background-color: black;
    color: rgb(230, 222, 222);
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
}
.bottom i{
    font-size: 15px;
}
#cooky{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 20%;
    height: auto;
    margin-right: 400px;
}
#cooky hr{
    width: 1px;
    height: 15px;
    border: 1px solid gray;
    margin-bottom: 50px;
}

.icon2{
    width: 50%;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 20px;
    color: rgb(216, 207, 207);
    margin-top: 20px;
    margin-bottom: 20px;
}